* {
  margin: 0; 
  padding: 0;
  font-size: 30px;
}

.table {
  font-size: 0.6rem;
}

.table_heading {
  border-top-left-radius: 20px; 
}

.table_heading_left {
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
}

.table_heading_left  .departure {
  background-color: rgb(255, 255, 255);
  color: rgb(117, 209, 239);
  padding-right: .5rem;
}

.table_heading_left  .arrive {
  background-color: rgb(117, 209, 239);
  color: rgb(255, 255, 255);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem; 
  padding-right: .5rem;
}

.table_heading_left:hover {
  cursor: pointer;
}

.table_heading_left .arrive:hover {
  background-color: rgb(30, 183, 238);
  cursor: pointer; 
}

.table_heading_right {
  text-align: left; 
  font-size: 1rem;
  font-weight: 600; 
}

.table_heading_right  .departure {
  background-color: rgb(117, 209, 239); 
  color: rgb(255, 255, 255); 
  border-top-right-radius: 1rem; 
  border-bottom-left-radius: 1rem; 
  padding-left: .5rem;
}

.table_heading_right  .arrive {
  background-color: rgb(255, 255, 255); 
  color: rgb(30, 183, 238);  
  padding-left: .5rem; 
}

.table_heading_right:hover {
  cursor: pointer;
}

.table_heading_right .departure:hover {
  cursor: pointer;
  background-color: rgb(30, 183, 238);
}

.table_body_head {
  margin-top: .8rem;
  margin-bottom: .5rem;
}

.table_body {
  font-size: .6rem;
  text-align: left; 
  font-weight: 600;
  color: gray;
}

.table_body_row {
  font-size: .7rem; 
  background-color: rgb(255, 255, 255);
  height: 3rem;
}

.table_body_row_item {
  font-size: .7rem;
  text-align: left; 
  font-weight: 400;
  margin-top: .6rem;
}

.table_body_row:nth-child(2n) {
  background-color: rgb(229, 238, 243);
} 

.table_body_row:hover {
  box-shadow: 0 .165rem .3rem rgba(0,0,0,.2);
}

.table_date_choise {
  color: gray; 
  margin-top: 1rem; 
  margin-bottom: .6rem;
  font-weight: 700;
  height: 3rem;
  position: relative;
}

.table_date_choise .selected {
  color: rgb(30, 183, 238); 
}


.table_date_choise:hover {
  cursor: pointer;
}


.table_search_bar {
  margin-top: .7rem; 
  margin-bottom: .7rem;
}

.table_search_bar_input {
  width: 100%;
  height: 2rem;
  padding-left: 2rem;
  padding-top: .5rem; 
  padding-bottom: .5rem;
}

.table_search_bar_submit {
  background-color: rgb(30, 183, 238);
  color: rgb(255, 255, 255);
  padding-top: .2rem; 
  padding-bottom: .2rem;
  padding-left: .7rem;
  border-top-right-radius: 2rem;
  font-weight: 700;
}

.table_search_bar_submit:hover {
  border-top-right-radius: 1.3rem;
  cursor: pointer;
}
