* {
  margin: 0; 
  padding: 0;
  font-size: 30px;
}

.table {
  font-size: 0.6rem;
}

.table_heading {
  border-top-left-radius: 20px; 
}

.table_heading_left {
  background-color: rgb(117, 209, 239);
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 1rem;
  font-weight: 600; 
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.table_heading_left:hover {
  background-color: rgb(30, 183, 238);
  cursor: pointer; 
}

.table_heading_right {
  background-color: rgb(255, 255, 255); 
  color: rgb(30, 183, 238);
  text-align: left; 
  font-size: 1rem;
  font-weight: 600; 
  border-top-right-radius: 1rem; 

}

.table_heading_right:hover {
  cursor: pointer;
}

.table_body_head {
  margin-top: 0.8rem;
}

.table_body {
  font-size: 0.6rem;
  text-align: left; 
  font-weight: 600;
  color: gray;
}

.table_body_row {
  font-size: 0.7rem; 
  background-color: rgb(255, 255, 255);
  height: 3rem;
}

.table_body_row_item {
  font-size: 0.7rem;
  text-align: left; 
  font-weight: 400;
  margin-top: 0.6rem;
}

.table_body_row:nth-child(2n) {
  background-color: rgb(229, 238, 243);
} 

.table_body_row:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

